body {
  background-color: #676767;
}

.center {
  font-size: 24pt;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
